.root {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.root h1 {
    padding:2%;
    font-size: 3rem
}

.info {
    text-align: center;

}
.info p {
    font-size: 1rem;
    padding: 3%;
    line-height: 2rem;
    font-weight: 600
}

@media (max-width: 768px) {
    .info {
        padding-left: 10%;
        padding-right: 10%;
    }
    .info p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .info img {
        width: 100%
    }
    .root h1 {
        padding:4%;
        font-size: 2rem
    }
}