.view {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
  }
  
  .view .mask,
  .view .content {
    width: 310px;
    height: 310px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
  
  .view img {
    display: block;
    position: relative
  }

  .view h2 {
    font-family: sans-serif !important;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0,0,0,.6);
    margin: 20px 0 0 0
  }
  
  
  .view a.info {
    padding: 7px 14px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 100px 0 0;
  }
  
  .view a.info:hover {
     box-shadow: 0 0 5px #fff;
  }
  
  .view img {
    transition: all 0.3s linear;
    width: 310px;
    height: 310px;
  }
  
  .view .mask {
    opacity: 0;
    background-color: #2f2e2e7a;
    transition: all 0.5s ease-in-out;
  }
  
  .view h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
  }
  
  .view p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .view a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  
  .view:hover img {
    transform: scale(1.1);
  }
  
  .view:hover .mask {
    opacity: 1;
  }
  
  .view:hover h2,
  .view:hover p,
  .view:hover a.info {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .view:hover p {
    transition-delay: 0.1s;
  }
 .view:hover a.info {
    transition-delay: 0.2s;
  } 