.root {
max-width: 1280px;
margin-left: auto;
margin-right: auto
}
.root h1 {
    text-align: center;
    font-weight: 900
}
.content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2%;
    padding: 3%
    
}
@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
    .TestimonialImage {
        width: 50%;
        margin:auto
    }
    .leftContent {
        display: grid;
        grid-template-rows: 1fr 0.35fr 0.5fr;
        align-items: center;
        align-content: center
    }
    .magentoLogo {
        width: 60%;
        margin: auto;
        padding: 0;
    }
    .icons {
        display: grid;
        grid-template-rows: 1fr fr 1fr
    }
    .freeButton {
        height: 30px;
        font-size: 300vw;
        padding: 5%;
    }
    .Details {
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 10%
    }
    .detailContent {
        width:90%
    }
    .detailContent img {
        width: 30% !important
    }


}
.styledDiv {
    display: grid;
    height: 100%;
    border:1px solid #e2e2e2;
    border-radius: 5px;
    text-align: center;  
}
.leftContent {
    composes:styledDiv
}
.TestimonialImage img {
    width: 100%
}
.review {
   padding:5%;
}
.magentoLogo {
    padding: 5%
}
.magentoLogo img {
    width: 25%
}

.rightContent {
    composes:styledDiv;
    color:#05bad8
}
.buttonGroup {
    composes:buttonGroup from '../Gallery/item.css'
}
.freeButton {
    composes:buttonFree from '../Gallery/item.css';
    font-size:1rem;
    padding: 0;
}
.AddToCardButton {
    composes: buttonAddToCard from '../Gallery/item.css';
    font-size: 1rem;
    padding: 0;
    outline: none;
}

.toggleButtonGroup{
    margin: 0;
    padding: 0;
    width:10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Details {
    margin-top:3%;
}
.Details button {
    width: 4rem;
    border:1px solid grey;
}
.toggleButtonGroup button:focus {
    outline: none;
}
.detailContent {
    width:100%
}
.detailContent img {
    width: 100% !important
}
@media screen and (max-width: 1024px) {
    .content {
        margin-left: auto;
        margin-right: auto
    }
}
