
.root {
    max-width: 1240px;
    display: grid;
    grid-auto-columns: 100%;
    color: #333;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.42857143;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.open {
    composes: root;
}
.closed {
    composes: root;
}
.toolbar {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'primary title secondary';
    grid-template-columns: 0.2fr 0.8fr 0.2fr;
    grid-template-rows: 3rem;
    justify-items: center;
    min-height: 7rem;
}


.navTrigger,
.cartTrigger {
    composes: root from '../clickable.css';
    height: 3rem;
    width: 3rem;
}

.logo {
    grid-area: primary;
    width: 100px;
    height: 6rem;
}
.MenuBar {
    grid-area: title;
    width: 100%;
}

.secondaryActions {
    grid-area: secondary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .toolbar {
        grid-template-rows: 1fr;
        grid-template-columns: 0.001fr 8fr 4fr;
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        display: none;
    }
    .MenuBar {
        width: 60%
    }
}
