.root {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.single-content {
    
    overflow: hidden;
}
.service-heading {
    text-align: center;
    color: #03acc1;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #03acc1;
}
.single-content h2 {
 
}