.slideTestimonial {
    width: 350px;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
.slideTestimonial > img {
    
}
/* .name_review h3{
    font-size: 23px;
}
.name_review h3 img {
  
    margin-left: 5px;
    margin-top: 1px;
}
.name_review p:first-of-type {
    margin-top: 10px;
    font-family: sans-serif
}
.name_review p:last-of-type {
    font-size: 15px;
    margin-top: 5px;
}
.root ul {
    display: flex !important;
   
} */